/* sub_service.css */


#searchCon {
  width: 80%;
  height: auto;
  background-color: var(--color-bhc-orenge);
  margin: auto;
  margin-top: 100px;
}

.service_search_box {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.service_search_bar {
  width: 31.25rem;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0.75rem;
}

#menuCon {
  width: 80%;
  height: auto;
  margin: auto;
}

.menu_icon_box {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_icon_box button {
  width: 200px;
  height: 80px;
  padding: 20px;
  margin: 10px;
  border-radius: 0.75rem;
}
.pro_btn , .ord_btn {
  background-color:#ddd;
}

.pro_btn:hover , .pro_btn:focus , .ord_btn:hover , .ord_btn:focus {
  color: #fff;
  background-color: var(--color-bhc-orenge2);
}

#qnaCon {
  width: 80%;
  height: auto;
  margin: auto;
}


.qna_box {
  position: relative;
  width: 100%;
  height: 500px;
}

.product,
.order {
  position: absolute;
  width: 100%;
  height: 100%;
}

.product {
  display: block;
}

.order {
  display: none;
}

.qna_box dt {
  padding: 20px;
}

.qna_box dt::before {
  content: 'Q';
  background-color: #fff;
  padding: 10px;
  margin-right: 15px;
  font-weight: 900;
  border-radius: 2rem;
}

.qna_box dd {
  display: none;
  padding: 20px;
  background-color: rgba(0, 0,0,0.2);
}

.qna_box dd::before {
  content: 'A';
  color: #fff;
  margin-right: 15px;
}
.product dl,.order dl {
  border-bottom: 2px groove rgba(255, 255, 255, 0.4);
}

.product dl:first-child , .order dl:first-child {
  border-top: 2px groove var(--color-bhc-brown3);
}

.product dl:last-child , .order dl:last-child {
  border-bottom: 2px groove var(--color-bhc-brown3);
}
.act {
  color: #fff;
  background-color: var(--color-bhc-orenge2);
}