
.wrap { 
    position: relative;
    width: 100%;
    min-width: 360px;
    height: auto;
    min-height: 1000px;
    background-color: var(--color-bhc-white);
    overflow: hidden;
}



/* adBox ----------------------------------------- */
#adBox {
  position: relative;
  width: 100%;

  }
  .ad_area{
    /* position: absolute; z-index: -100; */
    width: 100%;
    /* background-color: var(--color-gray2); */
    background-image: url("../../../res/image/img_main_banner_210415_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    box-sizing: border-box;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.8),
    3px 3px 5px rgba(0, 0, 0, 0.1);;
  }
  .ad_btn_before, .ad_btn_next {
    background-repeat: no-repeat;
      background-size: auto auto;
      background-position: 0 0;
  }

  .ad_btn_before{
      float: left;
      background-image: url("../../../res/icon/SVG/left.svg");
  }
  .ad_btn_next {
      float: right;
      background-image: url("../../../res/icon/SVG/right.svg");
  }

/* ckmenuBox ----------------------------------------- */
#ckmenuBox {
  width: 80%;
  margin: auto;
  height: 300px;
  margin-top: 50px;
  box-sizing: border-box;
}

.order_area{
    width: 90%;
    margin: auto;
    box-sizing: border-box;
  } 
  .phone_order, .search_store {
    background-color: var(--color-bhc-brown2);
    color: var(--color-bhc-white);
    border-radius: 0 5px 0 5px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.8),
    3px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'BM HANNA Pro';
    font-size: var(--font-size3-);
  }
    .phone_order {
      float: left;
    }
    .search_store {
      float: right;
    }

  #ckmenu_area {
    position: relative;
    width: 100%;
    background-color: var(--color-bhc-white);
    box-sizing: border-box;
    box-shadow: -5px -5px 8px rgba(255, 255, 255, 1),
      6px 6px 8px rgba(0, 0, 0, 0.1); 
  }
  .ckmenu_list {
    position: absolute; left: 50%; top: 20%;
    transform: translateX(-50%);
  }
   .ck_btn_before {
    float: left;
    background-image: url("../../../res/icon/SVG/left.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
   }
   .ck_btn_next {
    float: right;
    background-image: url("../../../res/icon/SVG/right.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
   }
   .ckmenu_list > ul { 
     width: 100%;
     height: auto;
   }
   .ckmenu_list > ul > li {
    float: left;
    width: 33.333%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
    text-align: center;
    font-family: 'Malgun Gothic';
    font-size: var(--font-size5-);
   }

   .ckmenu_list > ul > li:nth-child(1){
     background-image: url("../../../res/image/chicken/골드킹_410x271.png");
   }
   .ckmenu_list > ul > li:nth-child(2){
    background-image: url("../../../res/image/chicken/뿌링맵소킹\ 한마리\ 누끼sm.png");
  }
  .ckmenu_list > ul > li:nth-child(3){
    background-image: url("../../../res/image/chicken/뿌링클_410x271.png");

  }
/* videoBox -------------------------------------------------- */
#video_area {
  position: relative;
  width: 100%;
  height: auto;
}
  #player {
    position: absolute;
    top: 0; left: 50%; transform: translateX(-50%); 
    width: 640px;
    height: 360px;
    box-shadow: -5px -5px 8px rgba(255, 255, 255, 1),
    6px 6px 8px rgba(0, 0, 0, 0.1); ;
  }

/* bhc_info -------------------------------------------------- */

/* 고정 배경화면 */
#bhc_info {
  position: relative; z-index: 100;
  width: 100%;
  height: auto;
  margin-top: 250px;
}

#noticeBox{
  width: 100%;
  height: auto;
}

#noticeBox > ul > li {
  position: absolute; top :0%; z-index: 100;
  width: 26.333%;
  height: 250px;
  background-color: #111;
  box-sizing: border-box;
  padding: 2rem 4rem;
  border-radius: 2rem 2rem 0 0;
}
#noticeBox > ul > li > dl > dt {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'BM HANNA Pro';
}
#noticeBox > ul > li> dl > dd {
  color: var(--color-white);
  font-family: 'Malgun Gothic';
  line-height: 1.6rem;
}


#noticeBox > ul > li:nth-child(1) {
  left: 10%; background-color: var(--color-bhc-green2);
}
#noticeBox > ul > li:nth-child(2) {
  left: 50%; transform:translateX(-50%); background-color: var(--color-bhc-brown)
}
#noticeBox > ul > li:nth-child(3) {
  right: 10%; background-color:var(--color-bhc-yellow);
}

#noticeBox > ul > li:hover{
  top : -20%
}


.about {
  position: relative; z-index: 200;
  width: 100%;
  height: 500px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: 'Malgun Gothic';
  text-align: center;
  font-size: var(--font-size6-);
  line-height: 50px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px 200px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.1); ;
}
.about >  p {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-top: 3.125rem;
  line-height: 32px;
  font-family:'Malgun Gothic';
  font-size: var(--font-size3-);
}

/* notice_area ----------------------------------------- */
#sns_area {
  position: relative;
  width: 80%;
  height: 300px;
  margin: auto;
  margin-top: 150px;
}

#snsBox{
  width: 100%;
  height: auto;
}

#snsBox > ul > li {
  position: absolute; top: 0;
  width: 33.333%;
  height: 300px;
  box-sizing: border-box;
  padding: 2rem 2rem;
  border-radius: 0 0 2rem 2rem;
}

#snsBox > ul > li:nth-child(1) {left: -5%;}
#snsBox > ul > li:nth-child(2) {left: 50%; transform:translateX(-50%)}
#snsBox > ul > li:nth-child(3) {right: -5%;}

#snsBox > ul > li > button {
  display: block;
  width: 80px; height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  margin: auto;
}

.facebook ,
.instargram ,
.kakao {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
}

.facebook_icon{
  background-image: url('../../../res/image/btn_facebook_main.png');
}
.facebook {
  background-image: url('../../../res/image/event1.png')
}
.instargram_icon{ 
  background-image: url('../../../res/image/btn_instagram_main.png');
}
.instargram {
  background-image: url('../../../res/image/event2.jpg')
}

.kakao_icon{
  background-image: url('../../../res/image/btn_kakaoplus_main.png');
}
.kakao {
  background-image: url('../../../res/image/event3.jpg')
}

#snsBox > ul > li > div {
  width: 100%;
  height: 500px;
  border-radius: 0 0 2rem 2rem;
  background-color: var(--color-bhc-white);
  box-shadow: -5px -5px 8px rgba(255, 255, 255, 1),
      6px 6px 8px rgba(0, 0, 0, 0.1); 
}

