/* @font */

:root{
    --font-size1-     : 16px;
    --font-size2-     : 18px;
    --font-size3-     : 22px;
    --font-size4-     : 26px;
    --font-size5-     : 32px;
    --font-size6-     : 38px;
    --font-size7-     : 42px;
}

    /* 
    font-family: 
    BM HANNA Air - reguler
    BM HANNA Pro - blod
    BM HANNA 11yrs old - basic
    Malgun Gothic 
    */
