/* renewal_bhc table 768~1279 */

@media screen and (min-width:768px) and (max-width:1279px) {
  
 
    /* header ------------------------------------- */
    header {
        width: 100%;
        height: 100px;
    }
  
    #headBox {
        width: 100%;
        height: 100%;
        padding: 20px 30px;
        margin-left: 20px;
    }

    h1{
      width: 80px; height: 50px;
    }

    .nav_btn {
      width: 40px;
      margin-top: 10px;
    }
    .main_menu {
      display: none;
    }


    .searchBox {
      float: right;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    .userBox {
      width: 90px;
      height: 40px;
    }
    .userBox {
        width: 150px;
        height: 50px;
        padding: 10px 20px;
      }
      .login_ico {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    /* adBox ----------------------------------------- */
    #adBox {
      width: 100%;
      height: 500px;
      padding-top: 100px;
      margin-top: 50px;
      }
      .ad_area{
          width: 100%;
          height: 500px;
          padding: 200px 25px;
      }
      .ad_btn_before{
          width: 20px;
          height: 100px;
      }
      .ad_btn_next {
          width: 20px;
          height: 100px;
      }
  
    /* ckmenuBox ----------------------------------------- */
    #ckmenuBox {
      width: 80%;
      height: 500px;
      margin-top: 50px;
    }
    .order_area{
        height: 40px;
      } 
        .phone_order , .search_store {
          width: 80px;
          height: 40px;
          line-height: 40px;
        }

    
      #ckmenu_area {
        width: 100%;
        height: 400px;
        margin-top: 20px;
        padding: 0 20px;
      }
      .ckmenu_list {
        width: 70%;
        height: 300px;
        margin-top: -30px;
      }
      .ckmenu_list > ul > li {
       width: 50%;
      }
     .ckmenu_list > ul > li:nth-child(3){
        display: none;
      }
      
       .ck_btn_before {
        width: 20px;
        height: 80px;
        margin-top: 150px;
       }
       .ck_btn_next {
        width: 20px;
        height: 80px;
        margin-top: 150px;
       }
    /* videoBox */
    #video_area {
      height: 450px;
    }
    #player{
      width: 640px;
      height: 360px;
    }

    /* bhc_info---------------------------------------------- */
    #bhc_info {
      width: 100%;
      height: 600px;
      margin-top: 50px;
    }
    #noticeBox > ul > li {
      width: 40%;
      height: 200px;
      top : -12%
    }
    #noticeBox > ul > li:hover,
    #noticeBox > ul > li:focus {
    top : -32%
    }
    #noticeBox > ul > li:nth-child(1){left: 10%;}
    #noticeBox > ul > li:nth-child(2){left: 70%;}
    #noticeBox > ul > li:nth-child(3){display: none;}
    
    .about {
      padding: 40px 20px;
    }

    .about >  p {margin-top: 50px;}

    /* sns_area ----------------------------------------- */
    #sns_area {
      width: 80%;
      height: 300px;
      margin-top: 50px;
    }
  
    #snsBox > ul > li {
      width: 40%;
      height: 80px;
    }
    #snsBox > ul > li:nth-child(1){left: 10%;}
    #snsBox > ul > li:nth-child(2){left:70%;}
    #snsBox > ul > li:nth-child(3){
      display: none;
    }
    #snsBox > ul > li > button { margin-top: -20px;} 
    #snsBox > ul > li > div {
      height: 350px;
    }
  
    footer {
      width: 100%;
      height: 200px;
      margin-top: 250px;
    }
    .call_number {
      width: 150px;
      right: 0%;
    }

}
