/* renewal_bhc_sub */


.wrap {
  width: 100%;
  height: auto;
}

#titleName {
  width: 80%;
  min-width: 800px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  line-height: 100px;
  background-color: var(--color-bhc-orenge);
  margin: auto;
}


.select_menu ul {
  width: 100%;
  height: 100px;
  background-color: #ddd;
  margin: auto;
  margin-top: 10px;
}

.select_menu li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: left;
  width: 50%;
  height: 100%;
}

.select_menu li:focus,
.select_menu li:hover {
  color: #fff;
  background-color: var(--color-bhc-orenge2);
}

.startup_box {
  position: relative;
  width: 80%;
  height: 1800px;
  margin: auto;
  /* overflow: hidden; */
}

#startUpSupport {
  display: none;
  position: absolute;
  width: 100%;
  min-width: 800px;
  height: 100%;
}

#startUpQnA {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 800px;
  height: 100%;
}

.delivery_t,
.beerzone_t {
  width: 80%;
  height: auto;
  padding: 50px;
  margin: auto;
}

.delivery_t table,
.beerzone_t table {
  border-collapse: collapse;
  margin: auto;
}

.delivery_t caption,
.beerzone_t caption {
  position: absolute;
  left: 0;
  font-size: var(--font-size5-);
}

tr,
th,
td {
  border: 1px solid #000;
  padding: 5px;
}

th,
td {
  width: 25%;
  height: 30px;
}

.procedure {
  width: 600px;
  height: 600px;
  margin: auto;

}

.briefing_session {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 50px;
  background-color: var(--color-bhc-brown3);
}

.bs_title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: var(--font-size5-);
  background-color: #fff;
}

.bs_title .fontup {
  font-size: var(--font-size7-);
}

.bs_title p {
  color: yellowgreen;
  padding: 25px;
}

.briefing_day_info {
  color: #f2f2f2;
}

.briefing_day_info dl {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 20px;
}

.briefing_day_info dt {
  margin-left: 20%;
  margin-right: 20px;
  font-weight: bold;
  font-size: var(--font-size2-);
  border-right: 1px solid #353;
  padding: 10px;
  box-sizing: border-box;
}

.briefing_day_info dd {
  padding: 10px;
}


.bhc_qna {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 150px;
}

.bhc_qna dl {
  padding: 30px;
  box-sizing: border-box;
  border-bottom: 2px groove rgba(255, 255, 255, 0.4);
}

.bhc_qna dl:first-child {
  border-top: 2px groove var(--color-bhc-brown3);
}

.bhc_qna dl:last-child {
  border-bottom: 2px groove var(--color-bhc-brown3);
}

.bhc_qna dt::before {
  content: 'Q';
  background-color: #fff;
  padding: 10px;
  margin-right: 15px;
  font-weight: 900;
  border-radius: 2rem;
}

.bhc_qna dt {
  padding-bottom: 20px;
  box-sizing: border-box;
  font-size: var(--font-size3-);
}
.bhc_qna dt:hover , .bhc_qna dt:focus {
  transform: scale(1.02);
  opacity: 0.8;
}

.bhc_qna dd::before {
  content: ' A ';
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  margin-right: 15px;
}


.bhc_qna dd {
  display: none;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.act {
  color: #fff;
  background-color: var(--color-bhc-orenge2);
}