/* @charset "UTF-8"; 이전에 썼으면 굳이 안써두됨*/
/* common.css */

.clearfix{
    height: auto;
}

.clearfix:after,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.blind,
.blind_warp a>span{
    display: block;
    width:0; height:0; 
    position: absolute; z-index: -1;
    overflow:hidden;
  }
.blind_warp a {
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}  
  .first_float > li{ float:left; }
  .first_float > li:first-child { margin-left:0; }
  
  .last_float > li { float:left; }
  .last_float > li:last-child { margin-right:0; }

  .none { display: none; }

  .black { display: block;}
