@charset "UTF-8";
/* reset.css */

html,body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    font-size: 100%;
}

header,section,article,aside,nav,footer,main,figure,figcaption { display: block; margin: 0; padding: 0; border: 0; outline: 0;}

h1,h2,h3,h4,h5,h6,hr {margin: 0; padding: 0; border: 0; outline: 0;}

p,pre,blockquote,address,
ul,ol,li,dl,dt,dd,
img,br,hr,form,fieldset,legend,
input,label,video,audio,textarea,select,canvas
{   margin: 0; padding: 0; border: 0; outline: 0; font-size: 16px; }


ul,ol,li {
    list-style: none;
}

/* 링크태그 */
a {
    color: inherit;
    text-decoration: none;
}


/* 줄인말 태그 */
abbr {
    /* text를 대문자로 표현 */
    text-transform: uppercase;
    /* 텍스트 꾸밈 제거 */
    text-decoration: none;
}

button {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
  
    border:0;
    opacity:1;
    background-color: transparent;
    cursor:pointer;
  }
  
address { font-style:normal; }  

legend {
    width: 0; height: 0; margin: 0; padding: 0; position: absolute; z-index: -1;
    overflow: hidden;
}

input ,textarea , select { cursor: pointer; box-sizing:border-box; background-color: transparent;}


hr {border-bottom: 1px solid #333;}
